<body>
  <h1>New Users</h1>
  <form action="/sign_up" method="post">
    <label for="name">
      Title: <input type="text" name="name">
    </label>
    <label for="email">
      URL: <input type="email" name="email">
    </label>
    <label for="password">
      Tags: <input type="password" name="password">
    </label>
    <input type="submit" value="Sign Up">
  </form>
</body>
